<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Woodgrove Bank</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" id="google-fonts-css" href="//fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&amp;ver=5.7.2" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column">
    <header>
        <div class="header-top" data-height="40" style="overflow: inherit; height: 40px;">
            <div class="header-top-outer" style="display:none;">
                <div class="header-top-inner">
                    <div class="header-top-inner-border">
                        <div class="social-wrap">
                            <div class="social-wrap-inner">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="top-nav-wrap">
                            <a class="responsive-top-nav" href="javascript:void(0)"><span></span></a>
                            <nav style="display: none;">
                                <div class="menu-top-line-navigation-container">
                                    <ul id="top-line-nav" class="top-line-nav">
                                        <li class="menu-item"><a href="#"><span class="nav-item-wrap">About</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="nav-item-wrap">Careers</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="nav-item-wrap">Credit Cards</span></a></li>
                                        <li class="menu-item"><a href="#"><span class="nav-item-wrap">Services</span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="height:87px;">
            <div class="container">
                <a class="navbar-brand logo" href="/">Woodgrove Bank</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ml-5">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Small Business</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Institutional</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ml-5">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ml-3">
                            <a class="nav-link text-dark" href="#"><i class="bi bi-chat-dots"></i><span class="hot-menu">Contact Us</span></a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link text-dark" href="#"><i class="bi bi-geo-alt"></i><span class="hot-menu">Locations</span></a>
                        </li>
                        <li class="nav-item ml-3">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout"><i class="bi bi-door-open"></i><span class="hot-menu">Logout</span></a>
                            } else {
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login"><i class="bi bi-person"></i><span class="hot-menu">Login</span></a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="page-content">
    @RenderBody()
    </div>
    <footer class="footer pt-5">
        <div class="container">
            <div class="disclaimer pb-3">
                Services are offered by the following affiliates of Woodgrove Bank Corporation: Banking products and services, including loans and deposit accounts, are provided by Woodgrove Bank, Member FDIC. Trust and investment management services are provided by Woodgrove Bank. Securities, brokerage accounts and/or insurance (including annuities) are offered by Woodgrove Investment Services, Inc. (d/b/a Woodgrove Investment Services, Inc.), which is an SEC registered broker-dealer, members FINRA, SIPC and a licensed insurance agency where applicable. Life insurance products are offered through Woodgrove Life Insurance Services. Investment advisory services are offered by Woodgrove Advisory Services, Inc. (d/b/a Woodgrove Advisory Services, Inc.), an SEC registered investment advisor.
            </div>
            <div class="border-top footer-bottom">
                <div class="clearfix">
                    <div class="float-right">
                        <ul>
                            <li class="ml-3"><a href="#">About Bank</a></li>
                            <li class="ml-3"><a href="#">Services</a></li>
                            <li class="ml-3"><a href="#">Credit Cards</a></li>
                            <li class="ml-3"><a href="#">Careers</a></li>
                            <li class="ml-3"><a href="#">Blog</a></li>
                            <li class="ml-3"><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="float-left">&copy; 2021 Woodgrove Bank. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
