<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>OpenHack Simulator</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>OpenHack Simulator</h1>
            </div>
        </div>
        <div class="row">
          <div class="col col-sm-6">
              <form action="/start" method="post">
                <div class="form-group">
                    <label for="baseurl">Base URL</label>
                    <input id="baseurl" class="form-control" type="text" name="Baseurl" aria-describedby="baseurlhelp" placeholder="http://url:port" /> 
                    <small id="baseurlhelp" class="form-text text-muted">This will be a single endpoint for the application not including any paths</small>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="Homepage" value="homepage" id="homepage" checked>
                    <label class="form-check-label" for="homepage">Homepage - calls only TripViewer HomePage, no apis (good for first runs)</label>
                </div>
               
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="Trips" value="trips" id="trips">
                    <label class="form-check-label" for="trips">Generate Trips data (uses trips, poi, and user apis)</label>
                </div>
               
                <div class="form-group">
                    <label for="rps">
                        Total Requests per second
                    </label>
                    
                    <select class="form-control" id="rps" name="Rps">
                      <option selected value="5">5</option>
                      <option value="30">30</option>
                      <option value="100">100</option>
                      <option value="200">200</option>
                      <option value="500">500</option>
                      <option value="1000">1000</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <select class="form-control" id="duration" name="Duration">
                      <!-- <option selected value="60">1 min (good for testing initially)</option>
                      <option value="300">5 min</option>
                      <option value="14400">4 hr</option> -->
                      <option selected value="0">Forever (runs until you press stop)</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" >Start Simulator</button>
                </div>
              </form>
          </div>
            
        </div>
        <div class="row">
            <div class="col">
                <form action="/stop" method="post">
                  <button type="submit" class="btn btn-secondary">Stop Simulator</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    View the live <a href="http://localhost:3000/d/PCRHJSDWz/simulator-requests-per-second" target="_blank">Simulator metrics output</a>.
                </p>
            </div>
        </div>
        <div class="row">
          <div class="col">
              <div class="alert alert-light" role="alert">
                  {{.message}}
              </div>
          </div>
        </div>
    </div>
   
  </body>
</html>